apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: base-infrastructure

  source:
    repoURL: https://helm.traefik.io/traefik
    chart: traefik
    targetRevision: 28.0.0
    helm:
      values: |
        deployment:
          replicas: 1

        ports:
          web:
            expose: true
            exposedPort: 80
          websecure:
            expose: true
            exposedPort: 443

        service:
          type: NodePort

        ingressRoute:
          dashboard:
            enabled: false

  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
