apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-all
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress

