# Security scanning tools installation

- name: Add Trivy GPG key
  ansible.builtin.get_url:
    url: https://aquasecurity.github.io/trivy-repo/deb/public.key
    dest: /usr/share/keyrings/trivy.gpg
    mode: '0644'
  when: ansible_os_family == "Debian"

- name: Add Trivy repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb {{ ansible_distribution_release }} main"
    state: present
    filename: trivy
  when: ansible_os_family == "Debian"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Install Trivy
  ansible.builtin.apt:
    name: trivy
    state: present
  when: ansible_os_family == "Debian"

- name: Install fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
  when: ansible_os_family == "Debian"
  notify: Restart fail2ban

- name: Configure fail2ban
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: '0644'
  notify: Restart fail2ban
