repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/prettier/pre-commit
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
