apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traefik-data
  namespace: ingress-traefik
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn

