apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: security-apps
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/user/homelab-infrastructure
    targetRevision: main
    path: k8s/apps/security
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

