apiVersion: v1
kind: Service
metadata:
  name: cloudflared
  namespace: cloudflare-tunnel
  annotations:
    argocd.argoproj.io/sync-wave: "6"
  labels:
    app: cloudflared
spec:
  type: ClusterIP
  selector:
    app: cloudflared

