apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traefik-data
  namespace: ingress-traefik
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
