apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: ingress-traefik
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  labels:
    app: traefik
spec:
  type: NodePort
  ports:
  - name: web
    port: 80
    targetPort: 80
    protocol: TCP
  - name: websecure
    port: 443
    targetPort: 443
    protocol: TCP
  - name: admin
    port: 9000
    targetPort: 9000
    protocol: TCP
  selector:
    app: traefik
