all:
  vars:
    ansible_user: homelabadmin
    ansible_python_interpreter: /usr/bin/python3
    ansible_become: true
    timezone: UTC

  children:
    # Parent k3s group containing all cluster nodes
    k3s:
      children:
        k3s_server:
        k3s_agent:

    k3s_server:
      hosts:
        k3s-master-01:
          ansible_host: 10.0.1.108

    k3s_agent:
      hosts:
        k3s-worker-01:
          ansible_host: 10.0.1.109

    nas:
      hosts:
        synology-nas:
          ansible_host: 10.0.1.100
          ansible_user: admin
          ansible_become: false
          ansible_connection: httpapi
          ansible_httpapi_use_ssl: true
          ansible_httpapi_validate_certs: false
          ansible_httpapi_port: 5001
