all:
  children:
    k3s_cluster:
      hosts:
        k3s-master:
          ansible_host: 10.0.1.108
          ansible_user: admin
          ansible_become: true
          ansible_ssh_private_key_file: ~/.ssh/id_rsa
          k3s_role: server
          k3s_token: "{{ vault_k3s_token }}"
      vars:
        k3s_version: v1.28.0
        k3s_disable_components:
          - traefik
          - servicelb
    
    monitoring:
      hosts:
        security-ops:
          ansible_host: 10.0.1.109
          ansible_user: admin
          ansible_become: true
          ansible_ssh_private_key_file: ~/.ssh/id_rsa
          docker_compose_version: "2.24.0"
      vars:
        monitoring_stack: true
    
    synology:
      hosts:
        synology-nas:
          ansible_host: 10.0.1.50
          ansible_user: admin
          ansible_become: false
          ansible_connection: httpapi
          ansible_httpapi_use_ssl: true
          ansible_httpapi_validate_certs: false
          ansible_httpapi_port: 5001
  
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    timezone: UTC
    ntp_servers:
      - 0.pool.ntp.org
      - 1.pool.ntp.org

