all:
  vars:
    ansible_user: homelab
    ansible_python_interpreter: /usr/bin/python3
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519
    ansible_become: true
    timezone: UTC
    ntp_servers:
      - 0.pool.ntp.org
      - 1.pool.ntp.org

  children:
    k3s:
      hosts:
        k3s-master:
          ansible_host: 10.0.1.108
          k3s_role: server

        security-ops:
          ansible_host: 10.0.1.109
          k3s_role: agent

    nas:
      hosts:
        synology-nas:
          ansible_host: 10.0.1.50
          ansible_user: admin
          ansible_become: false
          ansible_connection: httpapi
          ansible_httpapi_use_ssl: true
          ansible_httpapi_validate_certs: false
          ansible_httpapi_port: 5001