apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kyverno
  namespace: argocd
spec:
  project: security

  source:
    repoURL: https://kyverno.github.io/kyverno/
    chart: kyverno
    targetRevision: 3.2.6
    helm:
      values: |
        crds:
          install: false

        cleanupController:
          enabled: false

        cleanupJobs:
          admissionReports:
            enabled: false
          clusterAdmissionReports:
            enabled: false
          clusterEphemeralReports:
            enabled: false
          ephemeralReports:
            enabled: false
          updateRequests:
            enabled: false

        features:
          policyReports:
            enabled: true

        admissionController:
          replicas: 1

        backgroundController:
          replicas: 1

        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi

  destination:
    server: https://kubernetes.default.svc
    namespace: kyverno

  syncPolicy:
    automated:
      selfHeal: true
      prune: false
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true