apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: ingress-traefik
data:
  traefik.yml: |
    api:
      dashboard: true
      insecure: true
    
    entryPoints:
      web:
        address: ":80"
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
      websecure:
        address: ":443"
    
    certificatesResolvers:
      letsencrypt:
        acme:
          email: admin@homelab.local
          storage: /data/acme.json
          httpChallenge:
            entryPoint: web
    
    providers:
      kubernetesIngress: {}

