apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: falco
  namespace: argocd
spec:
  project: security

  source:
    repoURL: https://falcosecurity.github.io/charts
    chart: falco
    targetRevision: 3.8.1
    helm:
      values: |
        falco:
          jsonOutput: true

        falcosidekick:
          enabled: false

        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi

  destination:
    server: https://kubernetes.default.svc
    namespace: falco

  syncPolicy:
    automated:
      selfHeal: true
      prune: false
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true