apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homelab-security
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/devsaumya/homelab-infrastructure
    targetRevision: main
    path: k8s/security
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

