apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homelab-security
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: security
  source:
    repoURL: https://github.com/devsaumya/homelab-infrastructure
    targetRevision: master
    path: k8s/environments/homelab/security
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true